@model IEnumerable<FlightBookingCore.Models.ChuyenBay>

<h2>Danh sách chuyến bay</h2>

<table class="table">
    <thead>
        <tr>
            <th>Điểm đi</th>
            <th>Điểm đến</th>
            <th>Ngày bay</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DiemDi</td>
                <td>@item.DiemDen</td>
                <td>@item.NgayBay</td>
                <td>@item.GiaVe</td>
            </tr>
        }
    </tbody>
</table>